/* Socials */
@import "normalize.css";

:root {
  --stone-950: #0c0a09;
  --stone-900: #1c1917;
  --stone-800: #292524;
  --stone-700: #44403c;
  --stone-600: #57534e;
  --stone-500: #78716c;
  --stone-400: #a8a29e;
  --stone-300: #d6d3d1;
  --stone-200: #e7e5e4;
  --stone-100: #f5f5f4;
  --stone-50: #fafaf9;
}

body {
  min-height: 100vh;
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--stone-950);
  height: 100vh;
}

a {
  text-decoration: none;
}

svg {
  fill: var(--stone-100);
}
